<% flash.each do |message_type, message| %>
  <div class="mb-2 toast hide border-<%= message_type %>" data-controller="toast">
    <div class="toast-header text-<%= message_type %>">
      <strong class="me-auto"><%= message_value(message_type) %></strong>
      <button class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body"><%= message %></div>
  </div>
<% end %>
