<footer>
  <nav class="navber navbar-expand-lg">
    <div class="navbar-nav justify-content-end me-2">
      <div class="nav-item">
        <%= link_to t('defaults.privacy_policy'), privacy_policy_path, class: "btn btn-link text-decoration-none" %>
      </div>
      <div class="nav-item">
        <%= link_to t('defaults.terms'), terms_path, class: "btn btn-link text-decoration-none" %>
      </div>
      <div class="nav-item">
        <%= link_to t('defaults.inquiry'), "https://docs.google.com/forms/d/e/1FAIpQLSfs8dHK4mcbvFGSkOq4h0cTS7gW9wk8iSQv0jqHnXmpVWik-Q/viewform", data: { turbo: false }, class: "btn btn-link text-decoration-none", target: "_blank" %>
      </div>
    </div>
  </nav>
</footer>