<footer>
  <nav class="navber navbar-expand-lg">
    <div class="navbar-nav justify-content-end me-2">
      <div class="nav-item">
        <%= link_to t('defaults.privacy_policy'), privacy_policy_path, data: { turbo: false }, class: "btn btn-link text-decoration-none" %>
      </div>
      <div class="nav-item">
        <%= link_to t('defaults.terms'), terms_path, data: { turbo: false }, class: "btn btn-link text-decoration-none" %>
      </div>
    </div>
  </nav>
</footer>