<%= turbo_frame_tag "modal" do %>
  <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" data-controller="modal">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">タイトル</h5>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-wrap">
            <%= render partial: "bad_events/prompt", collection: @prompts, locals: { bad_event: bad_event } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>