<div class="col-2 p-0">
  <div class="d-flex flex-column sidebar">
    <menu class="p-0 mx-auto">
      <div class="my-5">
        <%= link_to "マイイラスト一覧", "#", data: { turbo: false } %>
      </div>
      <div class="my-5">
        <%= link_to "新規投稿", "#", data: { turbo: false } %>
      </div>
      <div class="my-5">
        <%= link_to "エピソード", "#", data: { turbo: false } %>
      </div>
      <div class="my-5">
        <%= link_to "アカウント情報", "#", data: { turbo: false } %>
      </div>
    </menu>
  </div>
</div>
