<%= turbo_frame_tag bad_event do %>
  <%= simple_format(bad_event.body) %>
  <div class="mt-2">
    <%= link_to t('defaults.edit'), edit_bad_event_path(bad_event), class: "btn btn-primary" %>
  </div>
<% end %>