<div class="container m-0 p-0 vh-100">
  <div class="row">
    <div class="col-2">
      <%= render "shared/sidebar" %>
    </div>
    <div class="col-5 d-flex flex-column mt-2 mx-auto">
      <%= image_tag "deep.jpeg", size: "450x300" %>
      <button class="btn btn-link text-start" id="toggle-button">
        <i class="fa-solid fa-caret-down fa-xl"></i>
        投稿したエピソードを見る
      </button>
      <div id="event-body" class="text-wrap w-100">
        <%= raw(nl2br(@bad_event.body)) %>
      </div>
      <div class="rounded-pill bg-white mt-3 w-100 border d-flex align-items-center justify-content-around">
        <i class="fa-solid fa-face-laugh-beam fa-size mx-1 my-auto" style="color: #ffdd00;"></i>
        <i class="fa-solid fa-face-laugh-beam fa-size mx-1" style="color: #ffdd00;"></i>
        <i class="fa-regular fa-face-laugh-beam fa-size mx-1"></i>
        <i class="fa-regular fa-face-laugh-beam fa-size mx-1"></i>
        <i class="fa-regular fa-face-laugh-beam fa-size mx-1"></i>
      </div>
      <%= link_to "良かった出来事を投稿する", "#", class: "btn-good-event mt-3 p-2 w-50 mx-auto"%>
    </div>
  </div>
</div>