<div class="container">
  <div class="row mx-0 justify-content-center">
    <div class="col-12 col-lg-6 mt-2">
      <div class="text-center">
        <%= image_tag memory.good_image.url, class: "show-good_image",size: '300x400' %>
      </div>
      <div class="mt-2 p-2">
        <ul>
            <% memory.good_events.each do |event| %>
            <li class="my-2">
              <%= link_to event.title, good_event_path(event), class: "text-black"%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

