<div class="modal fade" data-bs-backdrop="static" data-controller="image-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content image-content">
      <div class="modal-body p-0">
        <div class="image-container">
          <%= image_tag memory.bad_image.url, class: "image-bad" %>
          <%= image_tag memory.good_image.url, class: "image-good" %>
        </div>
      </div>
    </div>
  </div>
</div>