<div class="col-6 col-lg-4 text-center">
  <%= image_tag memory.good_image.url, size: "150x200", class: "mt-3 index-card-img" %>
  <div class="text-white bg-secondary bg-gradient col-lg-4 col-6 mx-auto">
    <%= memory.user.name %>
  </div>
</div>
