<div class="container index-container">
  <div class="row">
    <h2 class="text-center"><%= t('.title') %></h2>
    <% if @memories.present? %>
      <%= render partial: "memory", collection: @memories %>
    <% else %>
      <p><%= t('defaults.nothing') %></p>
    <% end %>
  </div>
  <div class="py-3">
    <%= paginate @memories, theme: 'bootstrap-5' %>
  </div>
</div>
