<div class="container index-container">
  <div class="row mx-0 justify-content-lg-center">
    <h2 class="text-center"><%= t('.title') %></h2>
    <% if @memories.present? %>
      <%= render partial: "memory", collection: @memories %>
    <% else %>
      <p>なし</p>
    <% end %>
  </div>
  <%= paginate @memories, theme: 'bootstrap-5' %>
</div>
