<div class="container">
  <div class="row index-container">
    <div class="col-12">
      <div class="row">
        <% if @memories.present? %>
          <%= render partial: "memory", collection: @memories %>
        <% else %>
          <p>なし</p>
        <% end %>
      </div>
      <%= paginate @memories, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
