* {
  font-family: 'Zen Maru Gothic', sans-serif;
}

header {
  background-color: #90ed53;
}

footer {
  background-color: rgba(144, 237, 83, 0.5);
}

.container {
  padding: 0;
  max-width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 242, 184, 0.5);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.top-container {
  height: 700px;
  background-image: image-url("top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.rounded-pill {
  height: 60px;
}

.fa-size {
  font-size: 3em;
}

#generate-message {
  height: 300px;
  width: 300px;
}

#toggle-button {
  text-decoration: none;
  color: black;
}

#event-body {
  display: none;
}

.btn-good-event {
  background-color: #F5E1B9;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  
  &:hover{
    color: black;
  }
}

.fa-solid.fa-face-laugh-beam {
  color: #ffdd00;
}

.event-content{
  height: 300px;
}

.good-container {
  background-image: image-url("back1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.pagination {
  justify-content: center;
}