.container {
  padding: 0;

  & .row {
    margin: 0;
  }
}

header {
  background-color: #0B9B08;
}

.rounded-pill {
  height: 60px;
}

.fa-size {
  font-size: 3em;
}

#toggle-button {
  text-decoration: none;
  color: black;
}

#event-body {
  display: none;
}

.btn-good-event {
  background-color: #F5E1B9;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  
  &:hover{
    color: black;
  }
}

.fa-solid.fa-face-laugh-beam {
  color: #ffdd00;
}

.event-content{
  height: 300px;
}

.index-container {
  min-height: 100vh;
  background-image: image-url("wall.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.bad-image {
  width: 400px;
  height: 400px;
}