.image-content {
  width: 500px;
  height: 500px;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image-bad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-good {
  position: absolute;
  top: -7px;
  left: -29px;
  width: 111.5%;
  height: 111.5%;
  object-fit: cover;
}
