.image-content {
  width: 350px;
  height: 350px;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image-bad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-good {
  position: absolute;
  top: -2.2px;
  left: -18.5px;
  width: 110.3%;
  height: 109.5%;
  object-fit: cover;
}
